<h1>Welcome to the Logic App</h1>

<p>This is my cool app. It's going to feature neat stuff.</p>

<p class="mystyle">Here is another sentence made by someone else.</p>

<%= link_to "About", aboutpage_path %>
